@import url("../../../styles/base.css");
.details {
  /* a little bit of padding */
  padding: 0 var(--padding);
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }

  .photoStrip {
    flex: 1;
    display: flex;
    overflow: auto;
    img {
      margin: 0 1px;
    }
  }
}